<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New password</title>
  </head>
  <body>
    <form
      action="/users/login/resetpassword"
      method="POST"
      class="flex flex-col p-8 border-2 border-gray-300 rounded-lg w-custom"
    >
      <input
        type="password"
        name="newPasswd1"
        placeholder="Enter new Password"
        class="p-3 bg-gray-200 my-2 rounded-lg border-2 border-gray-300"
      />
      <input
        type="password"
        name="newPasswd2"
        placeholder="Reenter the Password"
        class="p-3 bg-gray-200 my-2 rounded-lg border-2 border-gray-300"
      />
      <input name="id" type="hidden" value="<%=id%>" />
      <input
        type="submit"
        value="Reset Password"
        class="
          p-3
          bg-blue-500
          text-white
          font-bold
          my-2
          rounded-lg
          hover:bg-blue-400
        "
      />
    </form>
  </body>
</html>
